* {
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
}

.logo {
  width: 60%;
}
/* .logo:active {
  box-shadow: none;
  transform: translate(3px, 3px);
} */
.logo:hover {
  background-image: url(https://res.cloudinary.com/dgrszi9wf/image/upload/v1702382549/Dragon/modifback/back.png);
  padding: 30%;
  width: 10%;
  background-size: cover;
  background-position: center;
}
/* Style de la barre de navigation */
nav ul {
  display: flex;
  align-items: stretch;
  list-style-type: none;
  text-align: center;
  position: relative;
  padding: 5px;
  width: 100%;
  flex-direction: row;
}

/* Style des éléments de la liste de la navigation */
nav ul li {
  /* Centre les éléments verticalement */
  list-style-type: none;
  height: fit-content;
}

/* Style des liens dans la navigation */
nav ul li h1 {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px;
  color: red;
  /* width: 100%; */
}

/* Style des liens survolés */
nav h1:hover {
  color: black !important;
}
nav a:active {
  color: black !important;
}
