* {
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
}
body {
  background: linear-gradient(rgba(246, 212, 149, 0.457), black),
    url("https://res.cloudinary.com/dgrszi9wf/image/upload/v1701424797/image/fond.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -100;
}
section {
  display: flex;
  /* Utilise Flexbox pour aligner les éléments horizontalement */
  flex-direction: row;
  /* Aligne les éléments horizontalement */
  align-items: center;
  /* Centre les éléments verticalement */
  width: 90%;
  margin: 0px 200px;
  margin: auto;
}

/* Style des articles */
article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  background-color: rgba(225, 130, 7, 0.603);
  border-radius: 5px;
  padding: 10px;
}

/* Style de la colonne latérale */
aside {
  width: 100%;
  border: solid 4px black;
  border-radius: 10px 10px 0 0;
  margin-left: 20px;
}
button {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background: linear-gradient(rgba(225, 130, 7, 0.603), rgba(0, 0, 0, 0.802));
  box-shadow: 3px 3px black;
  cursor: pointer;
  margin: 15px 0;

}
button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
img{width: 50%;}