:root {
  --dragon: #ec0000;
  --fond: rgba(255, 255, 255, 0.7);
}
/* ===============DEBUT DES PAGES EN GENERAL=============== */
* {
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
}

body {
  background: linear-gradient(rgba(246, 212, 149, 0.457), rgba(0, 0, 0, 0.428)),
    url("https://res.cloudinary.com/dgrszi9wf/image/upload/v1701424797/image/fond.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -100;
}
button {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background: linear-gradient(rgba(225, 130, 7, 0.603), rgba(0, 0, 0, 0.816));
  box-shadow: 3px 3px black;
  cursor: pointer;
  margin: 15px 0;
}
button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 2em;
  color: black;
  text-shadow: 1px 1px white !important;
  text-transform: uppercase !important;
}
/* Style des sections */
section {
  display: flex;
  /* Utilise Flexbox pour aligner les éléments horizontalement */
  flex-direction: row;
  /* Aligne les éléments horizontalement */
  align-items: center;
  /* Centre les éléments verticalement */
  width: 90%;
  margin: 20px 100px !important;
  /* margin: auto; */
}

/* Style des articles */
article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 50%;
  background-color: var(--fond);
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  box-shadow: 3px 3px 4px 0px var(--dragon);
}
.articlemax {
  width: 100%;
  margin: 1% 0 1% 0;
}
/* Style de la colonne latérale */
aside {
  width: 50%;
  border: none;
  display: flex;
}
section aside img {
  width: 100%;
  margin-right: 10px;
  border-radius: 20px 20px 0 0;
  border: solid rgba(0, 0, 0, 0.152);
  box-shadow: 3px 3px 4px 0px var(--dragon);
}

p {
  padding: 10px;
  text-align: left;
}
div {
  display: block;
}
/*=================PAGE DRAGONS=================*/
.image50 {
  width: 50% !important;
}
.imageheight {
  height: 200px;
}
/*=================FIN PAGE DRAGONS=================*/
/*=================PARTIE ACCORDÉON=================*/
.accordion-body {
  background-color: transparent !important;
}
.accordion {
  width: 90%;
  margin: 20px 100px !important;
}
.accordion-item {
  background-color: transparent !important;
  border: none !important;
}
.accordion-button:not(.collapsed) {
  color: red !important;
  background-color: none;
  box-shadow: none !important;
}
/*=================FIN PARTIE ACCORDÉON=================*/

@media screen and (max-width: 1024px) {
  /* section {
    /* width: 95%;
    margin-left: 10px !important; 
  } */
  section {
    display: block;
    margin: 0 !important;
    /* border: black solid 1px; */
  }
  .accordion {
    width: 90%;
    margin: 5px 25px !important;
  }
  .er {
    margin-left: 20px;
  }
  article {
    width: 100%;
  }
  aside {
    width: 100%;
  }
  .magasin div aside {
    display: block;
  }
  .magasin div aside img {
    width: 75%;
  }
}
