* {
  margin: 0;
  padding: 0;
  /* border: solid 1px red; */
}

body {
  background: linear-gradient(rgba(246, 212, 149, 0.457), rgba(0, 0, 0, 0.713)),
    url("https://res.cloudinary.com/dgrszi9wf/image/upload/v1701424797/image/fond.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -100;
}
button {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background: linear-gradient(rgba(225, 130, 7, 0.603), rgba(0, 0, 0, 0.802));
  box-shadow: 3px 3px black;
  cursor: pointer;
  margin: 15px 0;
}
button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
h2 {
  color: black !important;
  text-shadow:  1px 1px white !important;
  text-transform: uppercase !important;
}
.accueil img {
  width: 60%;
  height: 115px;
}
section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 5px;
  /* padding-top: 5px; */
  --bs-gutter-x: 0 !important;
}
/* Style de la colonne latérale */
aside {
  width: 10%;
  border: solid 3px black;
  border-radius: 10px 10px 0 0;
  margin: 10px 0 0 1px !important;
  padding: 5px 0;
}
/* ===============FIN DE LA PAGE ACCUEIL=============== */

@media screen and (max-width: 1024px) {
  section {
    width: 95%;
    margin-left: 10px !important;
  }
}
